{% extends "paginabase.html" %}
{% block tittle %}
<title>Sobre mi</title>
{% endblock tittle %}



{% block h1 %}
<h1>Sobre mi</h1>
<h3>Buenas, me llamo Francisco Fernandez, soy de Cordoba Capital, Argentina y este es mi proyecto de Python y Django.</h3>
{% endblock h1 %}

{% block footer %}
<div class="col-lg-6 h-100 text-center text-lg-end my-auto">
    <ul class="list-inline mb-0">
        <li class="list-inline-item">
            <a href="https://www.instagram.com/fraanfz/?hl=es-la"><i class="bi-instagram fs-3"></i></a>
        </li>
    </ul>
</div>
{% endblock footer %}

