<!-- Continuacion de pagina de applicacion para forms en models-->
{% extends "paginabase.html" %}
{% block title %}
 <title>Pagina Celulares</title>
{% endblock title %}

{% block main %}
<form action="">
    <input type="text" name="marca" placeholder="Celulares...">
    <input type="submit" value="Buscar">
</form>

{% if lista_de_celus %}
<ul>
    {% for celular in lista_de_celus %}
    <li>{{celular}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontro la marca</p>
{% endif %}
{% endblock main %}