{% extends "paginabase.html" %}
{% block title %}
<title>Notebooks</title>
{% endblock title %}

{% block h1 %}
<h1>Notebooks!</h1>
{% endblock h1 %}

{% block main %}
<p>
    <a href="{% url "add_notebook" %}">Añadir Notebook</a>
</p>

<form action="">
    <input type="text" name="marca" placeholder="Notebooks...">
    <input type="submit" value="Buscar">
</form>

{% if lista_de_note %}
<ul>
    {% for notebooks in lista_de_note %}
    <li>{{notebooks}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontro la marca</p>
{% endif %}
{% endblock main %}